<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Create a new contact</h2>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Contact" ng-model='vm.contact'>
            </div>
            <button ng-click='vm.create()' class="btn btn-default">Add</button>
        </form>
        <h2 ng-show='vm.contacts.length>0'>My contacts</h2>
        <div class="panel panel-default" ng-repeat='contact in vm.contacts | orderBy: "nom"'>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nom" ng-model='nom'>
                        <input type="text" class="form-control" placeholder="Telephone" ng-model='telephone'>
                    </div>
                    <button ng-click='vm.update(contact)' class="btn btn-default">Edit</button>
                    <button ng-click='vm.delete(contact)' class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
